:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  min-width: 100vw;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  margin-top: 100px;
  background: hsla(169, 93%, 84%, 1);
  background: linear-gradient(
    180deg,
    hsla(169, 93%, 84%, 1) 0%,
    hsla(200, 90%, 51%, 1) 84%
  );
  background: -moz-linear-gradient(
    180deg,
    hsla(169, 93%, 84%, 1) 0%,
    hsla(200, 90%, 51%, 1) 84%
  );
  background: -webkit-linear-gradient(
    180deg,
    hsla(169, 93%, 84%, 1) 0%,
    hsla(200, 90%, 51%, 1) 84%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#AEFCEE", endColorstr="#11A7F2", GradientType=1 );
}

.container {
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 13px;
  padding: 50px;
}
.search-engine {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.search-engine input {
  width: 60%;
  height: 45px;
  border: 1px solid;
  border-radius: 8px;
  padding: 2px 15px;
  font-size: 16px;
  outline: none;
  background-color: white;
  color: #555;
}

.search-engine button {
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  padding: 13px 15px;
  margin-left: 10px;
}

.info-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
}

.weather-info {
  padding: 20px;
  padding-left: 0px;
}

.date {
  margin-bottom: 5px;
  font-size: 15px;
}

.location {
  font-size: 50px;
  margin: 0;
  max-width: 100%;
}

.description {
  font-weight: 200;
}

.temp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temp {
  font-size: 80px;
  margin: 0;
}

.temp span {
  font-size: 50px;
  font-weight: 200;
}

.temp-container p {
  font-style: italic;
}
